 <div ng-controller = "MassiveToolPageController">
 <toaster-container toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 0 } }"> </toaster-container>
 <br>
  <br>    
    <h3>Carga Masiva de registros</h3>
    <hr>
    <br>
      <js-xls onread="read" onerror="error"> </js-xls>

    <br>
<!-- Table --> 
             
     <table class="table table-bordered"  >
              <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Descripcion</th>                   
                    <th>Precio</th>                                       
                    <th>Nombre proveedor</th>                                       
                    <th>Telefono proveedor</th>                                       
                    <th>Correo Proveedor</th>                                       
                    <th>Estado</th>                                       
                    <th>Cuenta</th>                                       
                    <th>Subcuenta</th>                                                         
                    <th>Cantidad</th>                                                         
                    <th>descuento</th>                                                                                  
                  </tr>
                </thead>
                <tbody >
                  <tr ng-repeat="item in data" >             
                    <td ng-repeat="(key ,val) in item" >
                      <input type="text" name="widget.title" ng-model="item[key]" value="{{val}}"/>
                    </td>
                  </tr>
                </tbody>
              </table>  
                    
            <br>
        <button ng-click ="addMultipleRecordsProducts(data,headers)">Insertar info</button>
</div>