 <div ng-controller = "MassiveToolPageController">
 <toaster-container toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 0 } }"> </toaster-container>
 <br>
  <br>    
    <h3>Carga Masiva de registros</h3>
    <hr>
    <br>
      <js-xls onread="read" onerror="error"> </js-xls>

    <br>
<!-- Table --> 
<div class="container">
     <table class="table table-responsive"  >
              <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Descripcion</th>                   
                    <th>Precio</th>                                       
                    <th>Numero Factura</th>                                       
                    <th>Proveedor</th>                                       
                    <th>Fecha de factura</th>                                       
                    <th>Cantidad</th>                                       
                    <th>No. Serie</th>                                       
                    <th>Estado</th>                                                         
                    <th>Cuenta</th>                                                         
                    <th>Sub cuenta</th>                                                                                  
                  </tr>
                </thead>
                <tbody >
                  <tr ng-repeat="item in data" >             
                    <td ng-repeat="(key ,val) in item" >
                        {{val}}
                    </td>
                  </tr>
                </tbody>
              </table>  
            </div>
            <br>
        <button ng-click ="addMultipleRecordsProducts(data,headers)">Insertar info</button>
</div>